html{
    background: rgb(45,45,45);
}
.player{
    text-align:center;
    display: inline-block;
    width: 60%;

    background: rgb(0,0,0);
}
.video-select-list{
}
.video-select{
    list-style-type:none;
    position: relative;
    border-style:solid;
    border-color: crimson;
    border-width: 2px;
    border-radius: 5px;
    font-family: SansSerif;
    font-size: 25px;
    color: rgb(255,255,255);
    background: rgb(45,45,45);
}
